* {
    padding:0 ; 
    margin:0; 
    box-sizing: border-box;

}
/* responsive column grid */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} } 

[class*="col-"] {
  float: left;
  padding: 0; 
}

/* Font styles */
@font-face { 
  font-family:"Jost";
  src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
  font-weight: 100 900; 
  font-style: normal;
}

@font-face { 
 font-family: "Montserrat";
 src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
  font-weight: 100 900;
  font-style: normal;
}

/* Colors */
:root { 
    --ph-c-primairy-1:#283F48;
    --ph-c-primairy-2: #4C798A;
    --ph-c-primairy-3:#82AABA;

    --ph-c-secundairy-1:#EF5429;
    --ph-c-secundairy-2:#F6A088;
    --ph-c-secundairy-2:#FAC6B8;

    --ph-c-accent-1:#7F3F97; 

    --ph-c-white-1:#F3F3F4; 
    --ph-c-neutral-grey: #A5A5A6;
    --pg-c-neutral-dark:  #0E171A; 

    --ph-gradient-primairy-1: linear-gradient(#273E47, #4C798A, #82AABA ); 

    font-size: 16px;
    background-color: var(--ph-c-white-1);

    /* fontstyles */

  

}
body { 
  
}

h1 { 
  font-family: "Jost"; 
  font-weight: 700;
  line-height: 4.7rem;
  size:4.3rem;
  color: var(--ph-c-primairy-1); 

}

h2 { 
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 3.62rem;
  size:2.5rem; 
  color: var(--ph-c-primairy-1);
  
}


/* Navigation */

nav { 
  width: 100vw;
 display: flex;
  

}



ul { 
  display: flex; 
  justify-items: flex-end;
  height: fit-content;
  float: right;
  margin-right: 5rem; 
  
}

li { 
  list-style: none;
  align-content: center;
  padding: 2.5rem 1.25rem 2.5rem 1.25rem; 

}
a { 
  text-decoration: none;
  font-size: 1.25rem; 
  font-family:"Montserrat";
  font-weight: 300;
  color: var(--ph-c-primairy-1);
  line-height: 1.75rem;
}