* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Font styles */
@font-face {
  font-family: "Jost";
  src: url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  font-weight: 100 900;
  font-style: normal;
}

/* Colors */
:root {
  --ph-c-primairy-1: #283f48;
  --ph-c-primairy-2: #4c798a;
  --ph-c-primairy-3: #82aaba;

  --ph-c-secundairy-1: #ef5429;
  --ph-c-secundairy-2: #f6a088;
  --ph-c-secundairy-2: #fac6b8;

  --ph-c-accent-1: #7f3f97;

  --ph-c-white-1: #f3f3f4;
  --ph-c-neutral-grey: #a5a5a6;
  --ph-c-neutral-light-grey: #c2c2c7; 
  --ph-c-neutral-dark: #0e171a;

  --ph-gradient-primairy-1: linear-gradient(to right, #273e47 55%, #4c798a, #82aaba );

  background-color: var(--ph-c-white-1);
}

@media only screens and (min-width: 600px) {
  :root {
    font-size: 6px;
  }
}
@media only screens and (max-width: 900px) {
  [class*="col-"] {
    width: 100%;
  }
  :root { 
    font-size: 8px;
  }
}
@media only screens and (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
 
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* buttons */
.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.875rem 1.75rem 0.875rem 1.75rem;
  line-height: 1.25rem;
  border-radius: 0.625rem;
  border-style: none;
  background-image: var(--ph-gradient-primairy-1);
  color: var(--ph-c-white-1);
  margin: 0.25rem;
}
.secundairy {
  border: 2px solid var(--ph-c-primairy-1);
  color: var(--ph-c-primairy-1);
  background-image: none;
  background-color: var(--ph-c-white-1);
}

/* DESIGN ELEMENTEN */

.element1 { 
  width: 75px;
  height: 75px;
  left: 12rem;
  top: 15rem; 
  border-radius: 50px;
  background-color: var(--ph-c-accent-1);
  opacity: 50%;
  position: absolute; 
}

.element2 { 
  --s: 270deg;  /* starting angle */
  --p: 270deg; /* filling angle */

  height: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--ph-c-secundairy-1);
  opacity: 55%;
  mask: conic-gradient(from var(--s),#0000,#000 1deg var(--p),#0000 calc(var(--p) + 1deg));
  position: absolute;
  left: 68%; 
}
.element3 { 
  height: 350px;
  width: 350px;
  border-radius: 175px;
  border: dotted 1px var(--ph-c-accent-1);
  position: absolute;
  left: 47%;
  top: 39%; 
  z-index: -1;

}

/* FONTSTYLES */
h1 {
  font-family: "Jost";
  font-weight: 700;
  line-height: 4.7rem;
  font-size: 4rem;
  padding: 0.25rem;
  color: var(--ph-c-primairy-1);
  margin: 1.75rem 1.75rem 0.25rem 1.75rem;
  letter-spacing: 0.375rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.375rem;
  font-size: 1.75rem;
  color: var(--ph-c-primairy-1);
  font-style: italic;
  padding: 0.25rem;
  margin: 0 1.75rem 1.75rem 1.75rem;
}

h3 { 
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--ph-c-white-1);
  line-height: 2.5rem;


}
p { 
  font-family: "Montserrat", sans-serif;
  font-weight: 400; 
  font-size: 1rem; 
  color: var(--ph-c-primairy-1);
  line-height: 2rem;

}

/* HEADER */

header .row:first-of-type {
  height: 20vh;
  width: 100%;
  align-content: center;
}
header { 
  height: 80vh; 
}

main .row:first-of-type { 
  width: 100%;
  position: local;
  bottom: -80%; 
}
/* Navigation */
nav {
  display: flex;
  justify-content: end;
}

/* logo */
.beeldmerk-horizontaal-kleur {
  width: 100%;
  height: auto;
  padding-left: 5rem;
  padding-top: 2.5rem;
}

ul {
  display: flex;
  justify-items: flex-end;
  padding-right: 5rem;
}

li {
  list-style: none;
  align-content: center;
  padding: 2.5rem 0 2.5rem 1.25rem;
}
a {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 300;
  color: var(--ph-c-primairy-1);
  line-height: 1.75rem;
}
.container-buttons { 
  display: flex;
  gap: 1rem;
  padding: 1rem; 
}


/* Our Services */

.ourService{ 
  background-image: url(./images/background-Image-Hoorn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh; 
  width: 100%;
  position: relative;

}
.ourService h3 { 
position: absolute; 
top: 30%; 
left: 50%; 
transform: translate(-50%,-50%);
}

.row>.col-12 { 
  padding: 0; 
}
.serviceElements { 
  display: flex; 
  position: absolute; 
  top: 60%; 
  left:50%; 
  transform: translate(-50%,-50%); 
  gap: 3rem; 
  
}
figure { 
  background-color: var(--ph-c-white-1);
  width: 23vw; 
  padding-top: 2rem;
  padding-left: 4rem; 
  padding-bottom: 5rem; 
  padding-right: 4rem;  
  border-radius:1rem ;
  justify-items: center;
  
}
figure img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
figcaption { 
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 7%;
  text-align: center;
  
}


.tekstContainer { 
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}

aside h3 { 
  color: var(--ph-c-primairy-1);
  size: 3.5rem; 
  line-height: 3rem; 
  width: 80%;
}
aside button { 
  width: 30%; 
}
/* Grid container */
.gridContainer{ 
  display: grid; 
  grid-template-columns: repeat(8, 1fr);  
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 1rem; 
  width: 100vw;
  height: 100vh;
  padding: 3.625rem;
}

/* GRID items */
/* titel */
.item.a{ 
  grid-column-start: 4; 
  grid-row-start: 1; 
  grid-column-end: 6; 
  place-self: center; 
}
.a h3 { 
  color: var(--ph-c-primairy-1);
  size: 3.5rem; 
  line-height: 3rem; 

}
/* spytraining afbeelding */
.item.b {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 9;

}
.b img { 
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: 90% 0%;
}
.item.c { 
  grid-column-start: 2; 
  grid-column-end: 4; 
  grid-row-start: 9; 
  grid-row-end: 16; 
}
.c img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 90%;
  
   
}
/* agent8008 afbeelding */
.item.d { 
  grid-column-start: 4; 
  grid-column-end: 6; 
  grid-row-start: 2; 
  grid-row-end: 13; 
}
.d img { 
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* portaal afbeelding  */
.item.e { 
  grid-column-start: 4; 
  grid-column-end: 6; 
  grid-row-start:13; 
  grid-row-end: 25; 
}
.e img { 
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* JBAS afbeelding */
.item.f { 
  grid-column-start: 6; 
  grid-column-end: 8; 
  grid-row-start:2; 
  grid-row-end: 14; 
  align-self: start;
}
.f img { 
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* AT Infographic afbeelding */
.item.g { 
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start:16; 
  grid-row-end: 25; 
  
}
.g img { 
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* Samgung afbeelding  */
.item.h { 
  grid-column-start: 3; 
  grid-column-end: 4; 
  grid-row-start: 16; 
  grid-row-end: 25; 
  
}
.h img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* design elementen */
.item.i { 
  background-color: var(--ph-c-primairy-1); 
  grid-column-start: 6; 
  grid-column-end: 7; 
  grid-row-start:16; 
  grid-row-end: 22; 
  width: 100%;
  height: 100%;
  border-radius: 0 50px 0 50px; 
}
.item.j { 
  background-color: var(--ph-c-secundairy-1); 
  grid-column-start: 7; 
  grid-column-end: 8; 
  grid-row-start:16; 
  grid-row-end: 22; 
  width: 100%;
  height: 100%;
  border-radius: 50px 0 50px 0; 
}